@model IEnumerable<Peliculas.web.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1 class="text-light">Clientes</h1>

<p>
	<a class="text-primary" asp-action="Create">Crear Cliente</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
           
            <th></th>
        </tr>
    </thead>

    <tbody>
	
		@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
         
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Borrar", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
		

    </tbody>
</table>
